@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  display: flex;
  justify-content: center;
  background-color: #EEEBE3;
  font-family: "Roboto Condensed", sans-serif;
}
